<p>Sign up for a chance to win.</p>
<%= form_with(model: draw, local: true) do |form| %>
  <% if draw.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(draw.errors.count, "error") %> prohibited this draw from being saved:</h2>

      <ul>
      <% draw.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

  <div class="field">
    <%= form.label :drawtype %>
    <% options = options_from_collection_for_select(@raffles, 'name') %>
    <%= form.select :drawtype,  options %>
   
  </div>

  <div class="actions">
    <%= form.submit "Sign Up" %>
  </div>
<% end %>
